/* _fonts.scss */
 
/* Vollkorn */
@font-face {
	font-family: 'Vollkorn';
	src: url('/assets/fonts/Vollkorn-Regular.ttf') format('truetype');
	// src: url('/assets/fonts/blog-content.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vollkorn';
	src: url('/assets/fonts/Vollkorn-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
